# Data Types and Structures: Assignment

## Theoretical Questions

1. **What are data structures, and why are they important?**
   
   **Answer:** Data structures are specialized formats for organizing and storing data. They are important because they enable efficient data access and modification. The choice of an appropriate data structure can greatly affect the performance of algorithms, directly influencing the runtime and memory usage of a program.

2. **Explain the difference between mutable and immutable data types with examples.**
   
   **Answer:** Mutable data types can be changed after they are created. For example, lists and dictionaries in Python are mutable because you can add, remove, or change their elements. Immutable data types cannot be altered once created; examples include strings and tuples. Immutability helps with data integrity and can lead to simpler debugging in multi-threaded environments.

3. **What are the main differences between lists and tuples in Python?**
   
   **Answer:** The main differences include:
   - **Mutability:** Lists are mutable (can be modified), while tuples are immutable.
   - **Syntax:** Lists are defined with square brackets `[ ]`, whereas tuples use parentheses `( )`.
   - **Performance:** Tuples are generally faster than lists due to their immutability and fixed size.

4. **Describe how dictionaries store data.**
   
   **Answer:** Dictionaries store data in key-value pairs. Internally, they use hash tables to map keys to values. This structure allows for very efficient lookups, insertions, and deletions when the keys are known.

5. **Why might you use a set instead of a list in Python?**
   
   **Answer:** Sets are used when you need to store unique elements because they automatically eliminate duplicate values. They also offer very fast membership testing compared to lists.

6. **What is a string in Python, and how is it different from a list?**
   
   **Answer:** A string is a sequence of characters and is immutable (cannot be changed after it is created). A list, on the other hand, is a collection of items (which can be of different types) and is mutable, meaning its content can be changed.

7. **How do tuples ensure data integrity in Python?**
   
   **Answer:** Because tuples are immutable, once they are created the elements inside cannot be changed, added, or removed. This guarantees that the data stored in tuples remains constant, thus ensuring data integrity.

8. **What is a hash table, and how does it relate to dictionaries in Python?**
   
   **Answer:** A hash table is a data structure that maps keys to values using a hash function. In Python, dictionaries are implemented using hash tables, which allow for fast retrieval of values when the key is known.

9. **Can lists contain different data types in Python?**
   
   **Answer:** Yes, lists in Python are heterogeneous, meaning they can contain elements of different data types such as integers, strings, floats, or even other lists.

10. **Explain why strings are immutable in Python.**
    
    **Answer:** Strings are immutable because they are implemented as a sequence of characters that cannot be altered after creation. This immutability ensures that strings are hashable, which is useful when they are used as keys in dictionaries. It also improves performance and memory efficiency by enabling internal optimizations like string interning.

11. **What advantages do dictionaries offer over lists for certain tasks?**
    
    **Answer:** Dictionaries allow for faster data retrieval when the key is known, as they are based on hash tables. They provide a direct mapping from unique keys to values, which is more efficient for lookups than searching through a list.

12. **Describe a scenario where using a tuple would be preferable over a list.**
    
    **Answer:** Tuples should be used when the data is not meant to change. For instance, if you have a fixed set of configuration parameters, coordinates, or a record that should remain constant, using a tuple is preferable because it provides data integrity and can be used as a key in dictionaries.

13. **How do sets handle duplicate values in Python?**
    
    **Answer:** Sets automatically eliminate duplicate elements. When you add elements to a set, any duplicate value is ignored so that each element appears only once.

14. **How does the “in” keyword work differently for lists and dictionaries?**
    
    **Answer:** In lists, the `in` keyword checks for membership by scanning through each element (linear search), whereas in dictionaries, `in` checks whether the given key exists using a hash lookup, which is typically much faster.

15. **Can you modify the elements of a tuple? Explain why or why not.**
    
    **Answer:** No, you cannot modify the elements of a tuple because tuples are immutable. Once a tuple is created, its content cannot be changed, which helps maintain its integrity.

16. **What is a nested dictionary, and give an example of its use case.**
    
    **Answer:** A nested dictionary is a dictionary where some of the values are dictionaries themselves. This is useful for representing complex data structures such as a collection of student records where each student has multiple attributes (e.g., name, age, and marks in various subjects). Example:
    ```python
    students = {
        "student1": {"name": "Alice", "age": 20, "major": "CS"},
        "student2": {"name": "Bob", "age": 21, "major": "Math"}
    }
    ```

17. **Describe the time complexity of accessing elements in a dictionary.**
    
    **Answer:** On average, accessing elements in a dictionary has a time complexity of O(1), thanks to the underlying hash table implementation. However, in the worst case (when hash collisions occur), this can degrade to O(n). In practice, the average case is what is generally experienced.

18. **In what situations are lists preferred over dictionaries?**
    
    **Answer:** Lists are preferred when the order of elements is important, when you need to store a sequence of items and perform index-based operations or slicing, and when there is no need for key-value pairing.

19. **Why are dictionaries considered unordered, and how does that affect data retrieval?**
    
    **Answer:** Historically, dictionaries were considered unordered because the items did not maintain a guaranteed order (even though Python 3.6+ preserves insertion order as an implementation detail). This means that you cannot rely on the order of key-value pairs when iterating over a dictionary. Retrieval is done via keys rather than position.

20. **Explain the difference between a list and a dictionary in terms of data retrieval.**
    
    **Answer:** In a list, elements are retrieved by their index (an integer representing their position in the list), while in a dictionary, elements are retrieved by their key. Dictionary lookups use hashing to provide very fast access to the value associated with a key, whereas list lookups are based on sequential indexing.

## Practical Questions

In [1]:
# 1. Create a string with your name and print it
name = "Md Azhar Maqsood"
print(name)

Md Azhar Maqsood

In [2]:
# 2. Find the length of the string "Hello World"
s = "Hello World"
print(len(s))

11

In [3]:
# 3. Slice the first 3 characters from the string "Python Programming"
s = "Python Programming"
print(s[:3])

Pyt

In [4]:
# 4. Convert the string "hello" to uppercase
s = "hello"
print(s.upper())

HELLO

In [5]:
# 5. Replace the word "apple" with "orange" in the string "I like apple"
s = "I like apple"
print(s.replace("apple", "orange"))

I like orange

In [6]:
# 6. Create a list with numbers 1 to 5 and print it
lst = [1, 2, 3, 4, 5]
print(lst)

[1, 2, 3, 4, 5]

In [7]:
# 7. Append the number 10 to the list [1, 2, 3, 4]
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [8]:
# 8. Remove the number 3 from the list [1, 2, 3, 4, 5]
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [9]:
# 9. Access the second element in the list ['a', 'b', 'c', 'd']
lst = ['a', 'b', 'c', 'd']
print(lst[1])

b

In [10]:
# 10. Reverse the list [10, 20, 30, 40, 50]
lst = [10, 20, 30, 40, 50]
print(lst[::-1])

[50, 40, 30, 20, 10]

In [11]:
# 11. Create a tuple with the elements 100, 200, 300 and print it
tpl = (100, 200, 300)
print(tpl)

(100, 200, 300)

In [12]:
# 12. Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
tpl = ('red', 'green', 'blue', 'yellow')
print(tpl[-2])

blue

In [13]:
# 13. Find the minimum number in the tuple (10, 20, 5, 15)
tpl = (10, 20, 5, 15)
print(min(tpl))

5

In [14]:
# 14. Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
tpl = ('dog', 'cat', 'rabbit')
print(tpl.index('cat'))

1

In [15]:
# 15. Create a tuple containing three different fruits and check if "kiwi" is in it
fruits = ('apple', 'banana', 'mango')
print('kiwi' in fruits)

False

In [16]:
# 16. Create a set with the elements 'a', 'b', 'c' and print it
s = {'a', 'b', 'c'}
print(s)

{'c', 'a', 'b'}

In [17]:
# 17. Clear all elements from the set {1, 2, 3, 4, 5}
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [18]:
# 18. Remove the element 4 from the set {1, 2, 3, 4}
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [19]:
# 19. Find the union of two sets {1, 2, 3} and {3, 4, 5}
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [20]:
# 20. Find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

In [21]:
# 21. Create a dictionary with the keys "name", "age", and "city", and print it
person = {"name": "Alice", "age": 30, "city": "Paris"}
print(person)

{'name': 'Alice', 'age': 30, 'city': 'Paris'}

In [22]:
# 22. Add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [23]:
# 23. Access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

In [24]:
# 24. Remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

In [25]:
# 25. Check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
person = {'name': 'Alice', 'city': 'Paris'}
print('city' in person)

True

In [26]:
# 26. Create a list, a tuple, and a dictionary, and print them all
lst = [1, 2, 3]
tpl = (4, 5, 6)
dct = {'a': 1, 'b': 2}
print("List:", lst)
print("Tuple:", tpl)
print("Dictionary:", dct)

List: [1, 2, 3]
Tuple: (4, 5, 6)
Dictionary: {'a': 1, 'b': 2}

In [27]:
# 27. Create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result
import random
rand_list = [random.randint(1, 100) for _ in range(5)]
rand_list.sort()
print(rand_list)

[18, 22, 31, 49, 95]

In [28]:
# 28. Create a list with strings and print the element at the third index
str_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']
print(str_list[3])

date

In [29]:
# 29. Combine two dictionaries into one and print the result
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [30]:
# 30. Convert a list of strings into a set
str_list = ['apple', 'banana', 'apple', 'cherry', 'banana']
str_set = set(str_list)
print(str_set)

{'banana', 'apple', 'cherry'}